openapi: 3.2.0
info:
  title: Emem Dev MCP API
  version: 2.4.0
  license:
    name: Apache-2.0
  x-emem-surface-asymmetry:
    memory_notes: MCP only
    reach_them_at: POST /mcp, method tools/call
    read_side_is_here:
    - /v1/memory/search
    - /v1/memory/sse
    - /memories/{path}
    tools:
    - emem_memory_create
    - emem_memory_view
    - emem_memory_delete
    - emem_memory_rename
    - emem_memory_str_replace
    - emem_memory_supersede
    why_not_here: These write the agent correspondence plane, which is prose and untrusted-by-declaration. It is deliberately not part of the REST fact surface, and the two planes are kept apart rather than merged for convenience.
  description: 'Operations tagged Mcp across 2 of this provider''s published API definitions: emem-dev-openapi-original.json, emem-dev-openapi.json. Each path carries the servers of the definition it was published in.'
servers:
- description: Hosted instance (HTTPS-only)
  url: https://emem.dev
tags:
- name: MCP
paths:
  /mcp:
    get:
      description: 'Discovery document for the MCP endpoint (transport, protocol versions, tool names, client configs). This responder is stateless — no Mcp-Session-Id, no server-initiated messages — so a GET carrying `Accept: text/event-stream`, i.e. a Streamable HTTP stream open, is answered 405 Method Not Allowed as the transport spec requires, with `Allow: POST, OPTIONS`. Every other GET gets the discovery document.'
      operationId: mcp_discover
      responses:
        '200':
          content:
            application/json:
              schema:
                type: object
          description: ok
        '405':
          description: no SSE stream is offered at this endpoint; use POST
      summary: Discovery document for the MCP endpoint (transport, protocol versions, tool…
      tags:
      - MCP
    post:
      description: MCP JSON-RPC 2.0 (Streamable HTTP). tools/list here returns the 18-tool core surface; /mcp/full returns all 110. tools/call dispatches any of the 110 by name at either endpoint.
      operationId: mcp_jsonrpc
      requestBody:
        content:
          application/json:
            schema:
              properties:
                id:
                  description: request id; omit for a notification
                jsonrpc:
                  enum:
                  - '2.0'
                  type: string
                method:
                  description: initialize | tools/list | tools/call | resources/list | resources/read | prompts/list
                  type: string
                params:
                  description: method-specific; for tools/call it is {name, arguments}
                  type: object
              required:
              - jsonrpc
              - method
              type: object
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                type: object
          description: ok
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
          description: 'error, the emem.error.v1 envelope. Branch on the stable `code` (see GET /v1/errors), not the message. A malformed or missing-field request body returns `code: invalid_argument` with the offending field named in `message`.'
      summary: MCP JSON-RPC 2.0 (Streamable HTTP).
      tags:
      - MCP
    servers:
    - description: Hosted instance (HTTPS-only)
      url: https://emem.dev
components:
  schemas:
    ErrorEnvelope:
      description: The `emem.error.v1` failure envelope returned by every endpoint on a 4xx/5xx. Branch on the stable `code` (not the human `message`). See GET /v1/errors for the full code catalog.
      properties:
        code:
          description: Stable machine-readable error code. One of the codes in GET /v1/errors.
          example: invalid_argument
          type: string
        details:
          description: Optional structured recovery hints; present on errors that ship machine-readable next-steps.
          type: object
        message:
          description: Human-readable detail. For invalid_argument this names the offending field (e.g. "missing field `q`").
          type: string
        path:
          description: Request path that produced the error.
          example: /v1/ask
          type: string
        schema:
          const: emem.error.v1
          type: string
      required:
      - code
      - message
      - schema
      type: object
x-refined-from:
- emem-dev-openapi-original.json
- emem-dev-openapi.json
