openapi: 3.2.0
info:
  title: Emem Dev Device Platforms API
  version: 2.4.0
  license:
    name: Apache-2.0
  x-emem-surface-asymmetry:
    memory_notes: MCP only
    reach_them_at: POST /mcp, method tools/call
    read_side_is_here:
    - /v1/memory/search
    - /v1/memory/sse
    - /memories/{path}
    tools:
    - emem_memory_create
    - emem_memory_view
    - emem_memory_delete
    - emem_memory_rename
    - emem_memory_str_replace
    - emem_memory_supersede
    why_not_here: These write the agent correspondence plane, which is prose and untrusted-by-declaration. It is deliberately not part of the REST fact surface, and the two planes are kept apart rather than merged for convenience.
  description: 'Operations tagged Device Platforms across 2 of this provider''s published API definitions: emem-dev-openapi-original.json, emem-dev-openapi.json. Each path carries the servers of the definition it was published in.'
servers:
- description: Hosted instance (HTTPS-only)
  url: https://emem.dev
tags:
- name: Device Platforms
paths:
  /v1/device_platforms:
    get:
      description: 'device-platform whitelist: which hardware platforms may enroll a trace-admitted key and the root-of-trust evidence (TCG DICE, IEEE 802.1AR DevID, TPM 2.0 quote, Arm PSA/EAT) each presents; a trust anchor is a RATS Endorsement for a platform class; content-addressed by manifest CID'
      operationId: emem_device_platforms
      responses:
        '200':
          content:
            application/json:
              schema:
                type: object
          description: ok
      summary: 'device-platform whitelist: which hardware platforms may enroll a trace-admitted…'
      tags:
      - Device Platforms
    servers:
    - description: Hosted instance (HTTPS-only)
      url: https://emem.dev
x-refined-from:
- emem-dev-openapi-original.json
- emem-dev-openapi.json
