openapi: 3.2.0
info:
  title: Emem Dev Band Cube API
  version: 2.4.0
  license:
    name: Apache-2.0
  x-emem-surface-asymmetry:
    memory_notes: MCP only
    reach_them_at: POST /mcp, method tools/call
    read_side_is_here:
    - /v1/memory/search
    - /v1/memory/sse
    - /memories/{path}
    tools:
    - emem_memory_create
    - emem_memory_view
    - emem_memory_delete
    - emem_memory_rename
    - emem_memory_str_replace
    - emem_memory_supersede
    why_not_here: These write the agent correspondence plane, which is prose and untrusted-by-declaration. It is deliberately not part of the REST fact surface, and the two planes are kept apart rather than merged for convenience.
  description: 'Operations tagged Band Cube across 2 of this provider''s published API definitions: emem-dev-openapi-original.json, emem-dev-openapi.json. Each path carries the servers of the definition it was published in.'
servers:
- description: Hosted instance (HTTPS-only)
  url: https://emem.dev
tags:
- name: Band Cube
paths:
  /v1/band_cube:
    post:
      description: 'Mint an emem:cube: token: a Sentinel-2 field over an AOI ACROSS TIME. A world model is a field over an area across time, and emem:raster: names only one time-slice, so a 4D world''s time scrub had no token to anchor. This mints one band_raster member per target date, each an independent, resolvable emem:raster: derivation, then signs a cube record binding the ordered set. It is NOT new pixels: lineage terminates in each member''s pinned scene, so a stranger walks cube -> members -> scenes and re-derives every value from raw Sentinel-2 bytes. cube_cid content-addresses the ordered membership (blake3 of the member derivation cids), so the same slices always name the same cube. Two dates that resolve to the same scene collapse; a cube needs at least two distinct slices and caps at 24 per mint (refused with the cap named). Each member echoes `requested_dates` (the observed_on entries that mapped to it) and `requested_date_distance_days` (the nearest one''s gap from the scene''s own capture date), so a caller lines a requested date up with its slice directly rather than guessing by tslot proximity. The receipt''s FIELD preimage segment binds (aoi_cid, derivation_cid), reported by /v1/verify_receipt as field_bound. Returns the emem:cube: token plus the member emem:raster: tokens. This signs and persists the cube record and its members.


        When to use: Call when a world model or change-over-time analysis needs a time series of fields over one AOI, not one snapshot: the 4D world token, a phenology stack, a before/during/after triptych. For one time-slice use emem_band_raster; for one cell''s value over time use emem_trajectory; resolve a received cube with emem_cube_resolve.'
      operationId: emem_band_cube
      requestBody:
        content:
          application/json:
            schema:
              properties:
                band:
                  description: s2.B02|s2.B03|s2.B04|s2.B08|s2.B11|s2.B12
                  type: string
                bbox:
                  properties:
                    max_lat:
                      type: number
                    max_lng:
                      type: number
                    min_lat:
                      type: number
                    min_lng:
                      type: number
                  required:
                  - min_lat
                  - min_lng
                  - max_lat
                  - max_lng
                  type: object
                observed_on:
                  description: 2..24 target capture dates YYYY-MM-DD; each names the nearest scene, pinned per member
                  items:
                    type: string
                  type: array
              required:
              - bbox
              - band
              - observed_on
              type: object
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                type: object
          description: ok
        '400':
          content:
            application/json:
              schema:
                properties:
                  details:
                    type: object
                  error:
                    type: string
                type: object
          description: invalid argument; `details.code` names which rule refused
        '502':
          description: upstream scene fetch failed; typed
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
          description: 'error, the emem.error.v1 envelope. Branch on the stable `code` (see GET /v1/errors), not the message. A malformed or missing-field request body returns `code: invalid_argument` with the offending field named in `message`.'
      summary: 'a field OVER TIME as a signed manifest (docs/plans/field-tokens.md): mints one…'
      tags:
      - Band Cube
    servers:
    - description: Hosted instance (HTTPS-only)
      url: https://emem.dev
components:
  schemas:
    ErrorEnvelope:
      description: The `emem.error.v1` failure envelope returned by every endpoint on a 4xx/5xx. Branch on the stable `code` (not the human `message`). See GET /v1/errors for the full code catalog.
      properties:
        code:
          description: Stable machine-readable error code. One of the codes in GET /v1/errors.
          example: invalid_argument
          type: string
        details:
          description: Optional structured recovery hints; present on errors that ship machine-readable next-steps.
          type: object
        message:
          description: Human-readable detail. For invalid_argument this names the offending field (e.g. "missing field `q`").
          type: string
        path:
          description: Request path that produced the error.
          example: /v1/ask
          type: string
        schema:
          const: emem.error.v1
          type: string
      required:
      - code
      - message
      - schema
      type: object
x-refined-from:
- emem-dev-openapi-original.json
- emem-dev-openapi.json
