openapi: 3.2.0
info:
  title: Emem Dev Sources API
  version: 2.4.0
  license:
    name: Apache-2.0
  x-emem-surface-asymmetry:
    memory_notes: MCP only
    reach_them_at: POST /mcp, method tools/call
    read_side_is_here:
    - /v1/memory/search
    - /v1/memory/sse
    - /memories/{path}
    tools:
    - emem_memory_create
    - emem_memory_view
    - emem_memory_delete
    - emem_memory_rename
    - emem_memory_str_replace
    - emem_memory_supersede
    why_not_here: These write the agent correspondence plane, which is prose and untrusted-by-declaration. It is deliberately not part of the REST fact surface, and the two planes are kept apart rather than merged for convenience.
  description: 'Operations tagged Sources across 2 of this provider''s published API definitions: emem-dev-openapi-original.json, emem-dev-openapi.json. Each path carries the servers of the definition it was published in.'
servers:
- description: Hosted instance (HTTPS-only)
  url: https://emem.dev
tags:
- name: Sources
paths:
  /v1/sources:
    get:
      description: 'Active source-connector registry (URL templates, providers, licenses).


        When to use: Call when you need to inspect which upstream EO providers are wired (Copernicus DEM, JRC GSW, ESA WorldCover, etc.), useful for license attribution in agent answers.'
      operationId: emem_sources
      responses:
        '200':
          content:
            application/json:
              schema:
                type: object
          description: ok
      summary: source registry
      tags:
      - Sources
    servers:
    - description: Hosted instance (HTTPS-only)
      url: https://emem.dev
x-refined-from:
- emem-dev-openapi-original.json
- emem-dev-openapi.json
