openapi: 3.2.0
info:
  title: Emem Dev Enroll Attested API
  version: 2.4.0
  license:
    name: Apache-2.0
  x-emem-surface-asymmetry:
    memory_notes: MCP only
    reach_them_at: POST /mcp, method tools/call
    read_side_is_here:
    - /v1/memory/search
    - /v1/memory/sse
    - /memories/{path}
    tools:
    - emem_memory_create
    - emem_memory_view
    - emem_memory_delete
    - emem_memory_rename
    - emem_memory_str_replace
    - emem_memory_supersede
    why_not_here: These write the agent correspondence plane, which is prose and untrusted-by-declaration. It is deliberately not part of the REST fact surface, and the two planes are kept apart rather than merged for convenience.
  description: 'Operations tagged Enroll Attested across 2 of this provider''s published API definitions: emem-dev-openapi-original.json, emem-dev-openapi.json. Each path carries the servers of the definition it was published in.'
servers:
- description: Hosted instance (HTTPS-only)
  url: https://emem.dev
tags:
- name: Enroll Attested
paths:
  /v1/enroll_attested:
    post:
      description: 'enrol a device key by presenting its platform attestation (self-service: the attestation must endorse the key and be signed by a whitelisted anchor). Because every anchor shipped is provisional, this currently returns the gate''s rejection for every call. On success returns the enrolment record and its assurance level (platform_attested).'
      operationId: emem_enroll_attested
      requestBody:
        content:
          application/json:
            schema:
              properties:
                attestation:
                  description: the emem.platform_attestation.v0 evidence
                  type: object
                device_key:
                  description: base32 device key being enrolled
                  type: string
                platform:
                  description: device platform ID, e.g. nvidia.jetson-orin
                  type: string
                profile:
                  description: substrate profile ID, e.g. robot.fleet.v1
                  type: string
              required:
              - device_key
              - profile
              - platform
              - attestation
              type: object
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                type: object
          description: ok
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
          description: 'error, the emem.error.v1 envelope. Branch on the stable `code` (see GET /v1/errors), not the message. A malformed or missing-field request body returns `code: invalid_argument` with the offending field named in `message`.'
      summary: 'enrol a device key by presenting its platform attestation (self-service: the…'
      tags:
      - Enroll Attested
    servers:
    - description: Hosted instance (HTTPS-only)
      url: https://emem.dev
components:
  schemas:
    ErrorEnvelope:
      description: The `emem.error.v1` failure envelope returned by every endpoint on a 4xx/5xx. Branch on the stable `code` (not the human `message`). See GET /v1/errors for the full code catalog.
      properties:
        code:
          description: Stable machine-readable error code. One of the codes in GET /v1/errors.
          example: invalid_argument
          type: string
        details:
          description: Optional structured recovery hints; present on errors that ship machine-readable next-steps.
          type: object
        message:
          description: Human-readable detail. For invalid_argument this names the offending field (e.g. "missing field `q`").
          type: string
        path:
          description: Request path that produced the error.
          example: /v1/ask
          type: string
        schema:
          const: emem.error.v1
          type: string
      required:
      - code
      - message
      - schema
      type: object
x-refined-from:
- emem-dev-openapi-original.json
- emem-dev-openapi.json
