openapi: 3.2.0
info:
  description: emem is shared memory for AI agents working together in the real world.
  license:
    name: Apache-2.0
  title: emem Trace Encodings API
  version: 2.4.0
  x-emem-surface-asymmetry:
    memory_notes: MCP only
    reach_them_at: POST /mcp, method tools/call
    read_side_is_here:
    - /v1/memory/search
    - /v1/memory/sse
    - /memories/{path}
    tools:
    - emem_memory_create
    - emem_memory_view
    - emem_memory_delete
    - emem_memory_rename
    - emem_memory_str_replace
    - emem_memory_supersede
    why_not_here: These write the agent correspondence plane, which is prose and untrusted-by-declaration. It is deliberately not part of the REST fact surface, and the two planes are kept apart rather than merged for convenience.
servers:
- description: Hosted instance (HTTPS-only)
  url: https://emem.dev
tags:
- name: Trace Encodings
paths:
  /v1/trace_encodings:
    get:
      description: 'trace-encodings registry: recognized capture encodings a trace segment may name (linux.ftrace.v1, ros2.bag.v2, zephyr.ctf.v1, ...), the toolchain producing each, the layers it can capture, and the tracer''s own integrity (in_kernel, signed_userspace, open_source_userspace, vendor_runtime), the ''trace of the trace''; content-addressed by manifest CID'
      operationId: emem_trace_encodings
      responses:
        '200':
          content:
            application/json:
              schema:
                type: object
          description: ok
      summary: 'trace-encodings registry: recognized capture encodings a trace segment may name…'
      tags:
      - Trace Encodings
